
.form-container {
  margin: auto 0;

  .row {
    margin: 1rem auto;
  }
}

label {
  font-size: 1rem;
  font-weight: bold;
  color: $gray7;
  margin-bottom: 0.15rem;
}

.btn-primary {
    background-color: $button-primary;
    border-color: $button-primary;
}

.btn-info {
  background-color: $button-info;
  border-color: $button-info;
}

// Remove Arrows/Spinners for input type=number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}