boto3==1.28.83
botocore==1.31.83
fastapi==0.111.0
pydantic==2.8.0
pydantic-core==2.20.0
httpx==0.27.0
uvicorn[standard]==0.30.1
SQLAlchemy==2.0.31
email-validator==2.2.0
requests==2.32.3
psycopg2-binary==2.9.9
mangum==0.17.0
python-jose==3.3.0
cryptography==42.0.8
authlib==1.3.0
pyjwt==2.8.0