fastapi==0.141.1
boto3==1.43.68
botocore==1.43.68
pydantic==2.13.4
pydantic-core==2.48.0
httpx==0.28.1
uvicorn[standard]==0.52.1
SQLAlchemy==2.0.51
email-validator==2.3.0
requests==2.34.2
psycopg2-binary==2.9.12
mangum==0.21.0
cryptography==50.0.0
authlib==1.7.2
pyjwt==2.13.0