.table-paginator-root {
    justify-content: flex-start;
}

.table-paginator-content {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.table-paginator-current {
    margin-right: auto;
    padding-left: 1rem;
}

.table-paginator-root .p-select {
    min-width: 6rem;
    display: flex;
    align-items: center;
}

.table-paginator-root .p-select-label {
    margin: 0;
    line-height: 1;
    text-align: center;
}
