[loggers]
keys=root

[handlers]
keys=auditHandler

[formatters]
keys=auditFormatter

#----- LOGGERS

[logger_root]
level=INFO
handlers=auditHandler

#----- HANDLERS

[handler_auditHandler]
class=StreamHandler
formatter=auditFormatter
args=(sys.stdout,)

#----- FORMATTERS

[formatter_auditFormatter]
format={ 'eventTime': '%(asctime)s', 'logger': '%(name)s', 'level': '%(levelname)s', 'eventMessage': %(message)s }
datefmt=%Y-%m-%d %H:%M:%S
class=logging.Formatter