pytest==7.4.4
black==24.10.0
flake8==7.1.1
pytest-emoji==0.2.0
pytest-md==0.2.0
testcontainers==4.9.0
testcontainers-core==0.0.1rc1
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
