/**
 * PrimeVue v4 RadioButton Component Styling
 * Migrated from primevue-components-overrides.scss
 */

/* ================================ RadioButton Base ================================ */

.p-radiobutton.p-component.fam-radiobutton,
.p-radiobutton.p-component.fam-radiobutton .p-radiobutton-box.fam-radiobutton-box {
    width: 1.125rem;
    height: 1.125rem;
}

.p-radiobutton.p-component.fam-radiobutton .p-radiobutton-icon.fam-radiobutton-icon {
    width: 0.5rem;
    height: 0.5rem;
}

/* ================================ RadioButton Focus ================================ */

.p-radiobutton.p-component.fam-radiobutton
    .p-radiobutton-box.fam-radiobutton-box:not(.p-disabled).p-focus {
    box-shadow: 0 0 0 0.125rem var(--semantic-color-background-default),
        0 0 0 0.25rem var(--semantic-color-focus-default),
        0 0.0625rem 0.125rem 0 var(--primitive-color-gray-100);
}