@import '@/assets/styles/styles.scss';

.app-footer {
    --bs-link-color: $footer-color;
    color: $footer-color !important;
    border-top: .25rem solid $gold;
    background: $footer-bg;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2.25rem;
    z-index: 1002;
    font-size: 0.85rem;

    padding-right: 1.5rem;
    padding-left: 1rem;
    @include media-breakpoint-down(md) {
        height: 3vh;
        @include font-size(2vw);
    }
    .gov-links {
        // text-align: center;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin: 0;
            line-height: 1;

            &::after {
                position: relative;
                top: -.0625;
                display: inline-block;
                margin-left: 0.5rem;
                margin-right: 0.25rem;
                content: '|';
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }
}
