[loggers]
keys=root,main,config,database,routers

[handlers]
keys=consoleHandler

[formatters]
keys=consoleFormatter

#----- LOGGERS

[logger_root]
level=DEBUG
handlers=consoleHandler

[logger_main]
level=DEBUG
handlers=consoleHandler
qualname=api.app.main
propagate=0

[logger_routers]
level=DEBUG
handlers=consoleHandler
qualname=api.app.routers
propagate=0

[logger_config]
level=DEBUG
handlers=consoleHandler
qualname=api.app.config
propagate=0

[logger_database]
level=DEBUG
handlers=consoleHandler
qualname=api.app.database
propagate=0

#----- HANDLERS

[handler_consoleHandler]
class=StreamHandler
formatter=consoleFormatter
args=(sys.stdout,)

#----- FORMATTERS

[formatter_consoleFormatter]
format=%(asctime)s - %(lineno)s - %(name)s - %(levelname)s - %(message)s
datefmt=%Y-%m-%d %H:%M:%S
class=logging.Formatter

