[loggers]
keys=root,main,crud,database,calcDbParams,config,audit

[handlers]
keys=consoleHandler,auditHandler

[formatters]
keys=consoleFormatter,auditFormatter

#----- LOGGERS

[logger_root]
level=DEBUG
handlers=consoleHandler

[logger_api_app]
level=DEBUG
handlers=consoleHandler
qualname=api.app
propagate=0

[logger_routers]
level=DEBUG
handlers=consoleHandler
qualname=api.app.routers
propagate=0

[logger_main]
level=DEBUG
handlers=consoleHandler
qualname=api.app.main
propagate=0

[logger_crud]
level=DEBUG
handlers=consoleHandler
qualname=api.app.crud
propagate=0

[logger_database]
level=DEBUG
handlers=consoleHandler
qualname=api.app.database
propagate=0

[logger_calcDbParams]
level=DEBUG
handlers=consoleHandler
qualname=api.app.calcDbParams
propagate=0

[logger_config]
level=DEBUG
handlers=consoleHandler
qualname=api.app.config
propagate=0

[logger_audit]
level=INFO
handlers=auditHandler
qualname=api.app.utils.audit_util
propagate=0


#----- HANDLERS

[handler_consoleHandler]
class=StreamHandler
formatter=consoleFormatter
args=(sys.stdout,)

[handler_auditHandler]
class=StreamHandler
formatter=auditFormatter
args=(sys.stdout,)

#----- FORMATTERS

[formatter_consoleFormatter]
format=%(asctime)s - %(lineno)s - %(name)s - %(levelname)s - %(message)s
datefmt=%Y-%m-%d %H:%M:%S
class=logging.Formatter

[formatter_auditFormatter]
format={ 'eventTime': '%(asctime)s', 'logger': '%(name)s', 'level': '%(levelname)s', 'eventMessage': %(message)s }
datefmt=%Y-%m-%d %H:%M:%S
class=logging.Formatter

