[loggers]
keys=root,main,crud,database,calcDbParams,config

[handlers]
keys=consoleHandler
#, logFileHandler

[formatters]
keys=consoleFormatter

#----- LOGGERS

[logger_root]
level=DEBUG
handlers=consoleHandler

[logger_main]
level=DEBUG
handlers=consoleHandler
qualname=api.app.main
propagate=0

[logger_crud]
level=DEBUG
handlers=consoleHandler
qualname=api.app.crud
propagate=0

[logger_database]
level=DEBUG
handlers=consoleHandler
qualname=api.app.database
propagate=0

[logger_calcDbParams]
level=DEBUG
handlers=consoleHandler
qualname=api.app.calcDbParams
propagate=0

[logger_config]
level=DEBUG
handlers=consoleHandler
qualname=api.app.config
propagate=0




#----- HANDLERS

[handler_consoleHandler]
class=StreamHandler
formatter=consoleFormatter
args=(sys.stdout,)

#[handler_logFileHandler]
#class=FileHandler
#formatter=consoleFormatter
#args=('%(logfilename)s',)

#----- FORMATTERS

[formatter_consoleFormatter]
format=%(asctime)s - %(lineno)s - %(name)s - %(levelname)s - %(message)s
datefmt=%Y-%m-%d %H:%M:%S
class=logging.Formatter