@import '@/assets/styles/styles.scss';

.app-header {
    // @include clearfix;

    .title {
        font-size: 14px;
        // margin: 0;
        // padding: 0;
    }

    /* UI shell - Header */

    box-sizing: border-box;
    position: fixed;
    // z-index: 1;

    /* Auto layout */
    display: block;
    // flex-direction: row;
    // align-items: flex-start;
    // padding: 0px;

    width: 100vw;
    height: 48px;

    /* Light Theme/Background/$background-brand */
    background: #0073e6;

    padding: 0;
    // border-bottom: 2.5px solid $gold;
    // background: $header-bg;
    color: $header-font-color;
    z-index: 1;

    /* Fixed heading styles/heading-compact-01 */
    font-family: 'BC Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    letter-spacing: 0.16px;

    /* Dark Theme/Text/$text-primary */
    color: #f3f3f5;

    .navbar-collapse {
        flex-grow: 0;
    }
}
