@import '@/assets/styles/styles.scss';

.app-header {
    // @include clearfix;

    .header-title {
        font-size: 14px;
        margin: 0;
        span {
            font-weight: 700;
        }
    }

    i {
        vertical-align: middle;
    }

    .navbar {
        margin: 0;
        padding: 0;
        height: $header-height;
        vertical-align: middle;
    }

    /* UI shell - Header */

    box-sizing: border-box;
    position: fixed;

    width: $header-width;
    height: $header-height;

    /* Light Theme/Background/$background-brand */
    background: #0073e6;

    padding: 0;
    // border-bottom: 2.5px solid $gold;
    // background: $header-bg;
    color: $header-font-color;
    z-index: 1;

    /* Fixed heading styles/heading-compact-01 */
    font-family: 'BC Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    letter-spacing: 0.16px;

    /* Dark Theme/Text/$text-primary */
    color: #f3f3f5;

    .navbar-collapse {
        flex-grow: 0;
    }
}
