@import '@/assets/styles/styles.scss';

.app-header {
    @include clearfix;

    .title {
        @include font-size(1.25rem);
        @include media-breakpoint-down(sm) {
            @include font-size(1rem);
        }
    }

    padding: 0;
    border-bottom: 2.5px solid $gold;
    background: $header-bg;
    color: $header-font-color;
    z-index: 1005;

    // NAVBAR
    .navbar {
        padding: 0;
        background-color: $header-bg;

        .navbar-nav {
            .nav-link {
                position: relative;
                // z-index: 1001; // +1 to keep above dropdown menus
                // border-top: 1px solid $mn-border-color;
                color: $mn-color;
                text-transform: uppercase;
                white-space: nowrap;
                font-size: $mn-font-size;
                font-weight: 700;
                cursor: pointer;

                span {
                    display: inline-block;
                }

                &:hover {
                    background-color: $mn-hover-bg;
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .nav-link {
            border-top: 1px solid $mn-border-color;
        }
    }

    .navbar-collapse {
        flex-grow: 0;
    }
}

// Navbar Toggle Button
.navbar-toggler {
    margin-right: 0.25rem;
    margin-bottom: 0.2rem;
    border: 2px solid $mn-color;
    color: $mn-color;
    font-size: medium;
    // outline: none; // override user agent stylesheet default
    @include media-breakpoint-down(md) {
        font-size: small;
        padding: 2px 6px !important;
        margin: 0.2rem auto;
    }
}

.bc-nav {
    background-color: $bg-dark-border-color;
    opacity: 1;
    color: $mn-color !important;
    border-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 1000;
    a {
        color: $mn-color;
        &:hover {
            background-color: $mn-hover-bg;
            color: $mn-color;
        }
    }
    .user-label {
        display: flex;
        padding-right: 1rem;
        padding-left: 1rem;
        align-items: center;
        text-align: right;
        span {
            margin: auto 7px;
            color: $gold;
        }
    }
}

.nav-logo {
    max-width: 16vh;
    @include media-breakpoint-down(sm) {
        max-width: 11vh;
        padding-bottom: 5px;
    }
}
