@use "sass:map";
@use "@bcgov-nr/nr-theme/design-tokens/light-theme.scss" as lightTheme;

.custom-card-container {
    .p-card {
        .p-card-header {
            display: flex;
            padding: 1.5rem;
            align-items: center;

            svg {
                color: map.get(lightTheme.$light-theme, "support-success");
                margin-bottom: 0.1rem;
            }

            p {
                margin: 0;
                padding: 0 0 0 1rem;
                display: inline-flex;
                margin-bottom: 0;
                color: map.get(lightTheme.$light-theme, "text-primary");
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.125rem; /* 128.571% */
                letter-spacing: 0.01rem;
            }
        }

        .custom-carbon-icon-misuse {
            fill: var(--support-error);
        }
    }
}
