@use "sass:map";
@use "@bcgov-nr/nr-theme/design-tokens/light-theme.scss" as lightTheme;
@use "@bcgov-nr/nr-theme/design-tokens/dark-theme.scss" as darkTheme;

@use "@bcgov-nr/nr-theme/design-tokens/light-notifications.scss" as
    lightNotifications;
// need to use type family first, and then use stylesheet, so the body type tokens can get the font path correctly
@use "@bcgov-nr/nr-theme/design-tokens/type-family.scss";
@use "@bcgov-nr/nr-theme/style-sheets/primevue-components-overrides.scss";

// Header
$header-height: 3rem;
$header-width: 100vw;

// Card

//darkTheme
$dark-text-primary: map.get(darkTheme.$dark-theme, "text-primary");
$text-on-color: map.get(darkTheme.$dark-theme, "text-on-color");

//lightTheme
$light-layer-selected-01: map.get(lightTheme.$light-theme, "layer-selected-01");
$light-layer-hover-01: map.get(lightTheme.$light-theme, "layer-hover-01");
$light-layer-selected-hover-01: map.get(
    lightTheme.$light-theme,
    "layer-selected-hover-01"
);
$light-link-primary: map.get(lightTheme.$light-theme, "link-primary");
$light-link-primary-hover: map.get(
    lightTheme.$light-theme,
    "link-primary-hover"
);
$light-background-inverse: map.get(
    lightTheme.$light-theme,
    "background-inverse"
);

//border
$light-border-interactive: map.get(
    lightTheme.$light-theme,
    "border-interactive"
);
$light-border-subtle-00: map.get(lightTheme.$light-theme, "border-subtle-00");
$light-border-strong-01: map.get(lightTheme.$light-theme, "border-strong-01");

//text
$light-text-primary: map.get(lightTheme.$light-theme, "text-primary");
$light-text-secondary: map.get(lightTheme.$light-theme, "text-secondary");
$light-text-error: map.get(lightTheme.$light-theme, "text-error");

$light-background-brand: map.get(lightTheme.$light-theme, "background-brand");
$light-interactive: map.get(lightTheme.$light-theme, "interactive");

//background
$light-layer-one: map.get(lightTheme.$light-theme, "layer-01");
$light-layer-two: map.get(lightTheme.$light-theme, "layer-02");

//support
$light-support-error: map.get(lightTheme.$light-theme, "support-error");
$light-support-success: map.get(lightTheme.$light-theme, "support-success");

//icon
$light-icon-primary: map.get(lightTheme.$light-theme, "icon-primary");
$light-icon-on-color: map.get(lightTheme.$light-theme, "icon-on-color");
