@use 'sass:map';
@use '@bcgov-nr/nr-fsa-theme/design-tokens/light-theme.scss' as lightTheme;
@use '@bcgov-nr/nr-fsa-theme/design-tokens/light-buttons.scss' as lightButtons;

// Header
$header-height: 3rem;
$header-width: 100vw;

// Main Navigation
$text-error: map.get(lightTheme.$light-theme, 'text-error');
$text-primary: map.get(lightTheme.$light-theme, 'text-primary');
$text-secondary: map.get(lightTheme.$light-theme, 'text-secondary');

// Buttons
$light-button-tertiary: map.get(
    lightButtons.$light-button-token-overrides,
    'button-tertiary'
);

$light-button-danger-primary: map.get(
    lightButtons.$light-button-token-overrides,
    'button-danger-primary'
);

$light-button-danger-hover: map.get(
    lightButtons.$light-button-token-overrides,
    'button-danger-hover'
);

// icon
$light-theme-icon: map.get(lightTheme.$light-theme, 'background-brand')