@import '@/assets/styles/styles.scss';

.custom-carbon-icon-misuse {
    color: $light-support-error !important;
}

.custom-carbon-icon-checkmark--filled {
    color: $light-support-success !important;
}

.custom-carbon-icon-user--follow,
.custom-carbon-icon-user--follow {
    margin-right: 1.125rem;
    align-self: center;
    fill: $light-background-brand;
}
.custom-carbon-icon--help,
.custom-carbon-icon--sidenav {
    margin-right: 0.5rem;
}

.custom-carbon-icon--sidenav {
    color: $light-interactive;
}

.custom-carbon-icon--trash-can {
    color: $light-icon-primary;
}

.custom-carbon-icon--menu {
    color: $light-icon-on-color;
}
