body {
    padding: 0;
    margin: 0;
}

// Container
.main {
    position: absolute;
    display: block;
    height: calc(100vh - $header-height);
    width: 100vw;
    bottom: 0;
    padding: 1.06rem 1rem 0 1rem;
    overflow-y: auto;
}

.page-body {
    margin-top: 1.5rem;
    width: 100%;
}

// Remove Arrows/Spinners for input type=number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

// Flex panel
.flex-panel {
    @include flex-box();
    @include flex-direction(column);
}

.bold {
    font-weight: bold;
}

.no-padding {
    padding: 0;
}

.p-component,
.p-inputtext {
    font-family: inherit;
}

.p-sidebar-header {
    display: none;
}

.helper-text {
    font-size: 0.75rem;
    color: $light-text-secondary;
}

.invalid {
    font-size: 0.875em;
    color: $light-text-error;
    display: flex;
    align-items: center;
}

//------ media queries

@media (min-width: 768px) {
    .main {
        padding: 2.5rem 2.5rem 0 2.5rem;
        width: 100vw;
    }

    .form-container {
        width: 38rem;
    }
}

@media (min-width: 1024px) {
    .page-body {
        width: 100%;
    }

    .main {
        left: 16rem;
        width: calc(100vw - 16rem);
    }
}
