body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

// Container
.main {
    position: absolute;
    display: block;
    top: $header-height;
    left: 250px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    padding-top: 42px;
    padding-left: 40px;
    padding-right: 30px;
}

.page-body {
    margin-top: 48px;
}
// Flex panel
.flex-panel {
    @include flex-box();
    @include flex-direction(column);

    background: $gray0;
}

.bold {
    font-weight: bold;
}

.no-padding {
    padding: 0;
}
