@use 'sass:map';
@use '@bcgov-nr/nr-theme/design-tokens/type-family.scss' as typeFamily;

// Import all of Bootstrap's CSS
@import '~bootstrap/scss/bootstrap';

@import 'base';

// Components
@import '@bcgov-nr/nr-theme/style-sheets/primevue-components-overrides.scss';

:root {
    --font-family: map.get(typeFamily.$type-family, 'sans');
}

body {
    font-family: map.get(typeFamily.$type-family, 'sans');
}

/* ----------------- form input styles --------------------------- */
.form-field {
    margin-bottom: 1.5rem;
}

.input-with-verify-button {
    padding: 0;
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto min-content;
}

.custom-height {
    max-height: 2.813rem !important;
}

.button-stack {
    padding: 0;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    gap: 1rem;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;

    Button {
        width: auto !important;
    }
}

// when screen width < 390px
@media (max-width: 390px) {
    .input-with-verify-button {
        display: block;
    }
}

// when screen width > 1024px
@media (min-width: 1024px) {
    .button-stack {
        justify-content: start;
        grid-template-columns: auto auto;
        width: 38rem;

        Button {
            width: 15rem !important;
            gap: 2rem;
            white-space: nowrap;
        }
    }
    .p-dialog {
        max-width: 40rem !important;
    }
}
