# For just deploying frontend.
name: DEPLOY Development Frontend
permissions:
  contents: read

on:
  workflow_dispatch:

jobs:
  aws-test-deployment-frontend:
    uses: ./.github/workflows/reusable_terraform_frontend.yml
    with:
      environment_name: dev
      tf_subcommand: apply
    secrets:
      licenceplate: ${{ secrets.LICENCEPLATE}}
