name: Data Model Generator
permissions:
  contents: write

on:
  workflow_dispatch:
  workflow_call:

jobs:
  vars:
    name: Set Variables
    outputs:
      user: ${{ steps.data.outputs.user }}
      pass: ${{ steps.data.outputs.pass }}
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - name: Generate random username and password
        id: data
        run: |
          USERNAME="user$(shuf -i 1000-9999 -n 1)"
          PASSWORD=$(openssl rand -base64 12)

          echo "user=$USERNAME" >> $GITHUB_OUTPUT
          echo "pass=$PASSWORD" >> $GITHUB_OUTPUT

  schemaspy:
    name: Generate Documentation
    runs-on: ubuntu-latest
    needs: [vars]
    services:
      postgres:
        image: postgres:16.6-alpine
        env:
          POSTGRES_DB: fam
          POSTGRES_USER: ${{ needs.vars.outputs.user }}
          POSTGRES_PASSWORD: ${{ needs.vars.outputs.pass }}
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Flyway
        uses: docker://flyway/flyway:10
        env:
          FLYWAY_URL: jdbc:postgresql://postgres:5432/fam
          FLYWAY_USER: ${{ needs.vars.outputs.user }}
          FLYWAY_PASSWORD: ${{ needs.vars.outputs.pass }}
          FLYWAY_LOCATIONS: filesystem:./server/flyway/sql
          FLYWAY_DEFAULT_SCHEMA: "app_fam"
          FLYWAY_BASELINE_ON_MIGRATE: true
          FLYWAY_PLACEHOLDERS_api_db_username: fam_proxy_api
          FLYWAY_PLACEHOLDERS_api_db_password: test
          FLYWAY_PLACEHOLDERS_admin_management_api_db_user: fam_admin_management_api
          FLYWAY_PLACEHOLDERS_admin_management_api_db_password: test
          FLYWAY_PLACEHOLDERS_client_id_fom_public: "nolongerinuse1"
          FLYWAY_PLACEHOLDERS_client_id_fom_ministry: "nolongerinuse2"
          FLYWAY_PLACEHOLDERS_client_id_fam_console: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_dev_fom_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_test_fom_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_prod_fom_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_dev_spar_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_test_spar_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_prod_spar_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_dev_forest_client_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_test_forest_client_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_prod_forest_client_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_dev_silva_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_test_silva_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_prod_silva_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_auth_lambda_db_user: fam_auth_lambda
          FLYWAY_PLACEHOLDERS_auth_lambda_db_password: test
          FLYWAY_PLACEHOLDERS_client_id_dev_apt_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_test_apt_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_prod_apt_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_dev_results_exam_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_test_results_exam_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_prod_results_exam_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_dev_ilcr_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_test_ilcr_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_prod_ilcr_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_dev_waste_plus_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_test_waste_plus_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_prod_waste_plus_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_dev_apt3_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_test_apt3_oidc_client: flywayplaceholder
          FLYWAY_PLACEHOLDERS_client_id_prod_apt3_oidc_client: flywayplaceholder
        with:
          args: info migrate info

      - name: Create Output Folder
        run: |
          mkdir -p output
          chmod a+rwx -R output

      - name: Run Schemaspy
        run: docker run --network host -v "$PWD/output:/output" schemaspy/schemaspy:6.2.4 -t pgsql11 -db fam -host 127.0.0.1 -port 5432 -u ${{ needs.vars.outputs.user }} -p ${{ needs.vars.outputs.pass }} -schemas app_fam

      - name: Deploy to Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: output
